doctype html
html
  head
    title Page Not Found
    link(rel='stylesheet', href='../public/stylesheets/style.css')
  body
    h1 Page Not Found
    p Sorry! We couldn't find the page you were looking for.
    br
    p
      a.button(href='/books') Home


//- if(errors)
//-   h2.errors Ooops an error occured! 
//-   h2.errors Can not find ID
//-   ul.errors
//-     each error in errors
//-       li
//-         =error.message