//- This displays the main layout of the page the title and the CSS styling for the page
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
//The block content will grab whatever page should load based on the web search perams

  